@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Jost&family=Lato&family=Lora&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap')
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: 1px solid black;
}
body *{
    border: 1px solid black;
}
header{
    background-image: url(/images/Rectangle\ \(1\).png);
}
.logo{
    font-family: "Montserrat", sans-serif;
}
.delivery{
    font-family: "Montserrat", sans-serif;
    color: #3d2514;
    font-size: 17px;
    font-weight: 700;
}
.nav-item{
    font-weight: 700;
    font-family: "Bebas Neue", sans-serif;
}
.nav-link{
    color: #3d2514 !important;
}
.upper-part{
    padding: 80px 0;
}
.upper-part h4{
    width: 370px;
    color: #3d2514;
    font-weight: 600;
    border: 2px dashed #3d2514;
    font-size: 14px;
    padding: 1px;
   text-transform: uppercase;
   padding: 0;
   line-height: 30px;
}
.upper-part h1{
text-transform: uppercase;
color: #3d2514;
font-size: 114px;
font-weight: bolder;
filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
font-family: "Alfa Slab One";
margin-left: -10px;
padding: 0;
line-height: 80px;
}
.upper-part h2{
margin-left: -10px;
color: #3d2514;
padding: 0;
text-transform: uppercase;
font-weight: 900;
font-family: "Alfa Slab One";
filter: drop-shadow(2.136px 3.128px 0px #fee8bc);
}
.upper-part .img{
    position: relative;
    height: 300px;
    width: 250px;
}
.upper-part .img img{
    height: 100%;
    width: 100%;
}
.upper-part .img .img1,
.upper-part .img .img2,
.upper-part .img .img3{
    position: absolute;
}
.upper-part .img .img2{
    z-index: 1;
    left: 150%;
}
.upper-part .img .img1{
    z-index: ;
    left: 100%;
}
.upper-part .img .img3{
    z-index: ;
    left: 220%;
}
.ellipse{
    height: 100px;
    width: 100px;
    background-color: #bf2222;
    border-radius: 50%;
    position: absolute;
    top: 64%;
    left: 60%;
    z-index: 1;
}
.ellipse p{
    position: absolute;
 font-size: 30px;
 font-family: "Bebas Neue", sans-serif;
 color: #ffffff;
 font-weight: 600;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.ellipse span{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
}
#mid-part{
    font-family: "Bebas Neue";
}
#recepie-part{
    font-family: "Alfa Slab One" ;
    color: #3d2514;
}
#recepie-part .para1{
    color: #3d2514;
    font-weight: 600;
    font-size: 20px;
    background-color: #ffc045;
    display: inline-block;
    padding: 10px;
}
#recepie-part h1{
    padding: 10px;
    font-size: 50px;
    text-transform: uppercase;
    color: #3d2514;
 font-family: "Bebas Neue";
      font-weight: 900;
}
#recepie-part .img-box{
    width: 70%;
    height: 250px;
    margin-left: 50px;
}
#recepie-part .img1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#recepie-part .text-box h4{
    margin-top: 20px;
    text-transform: uppercase;
    color: #3d2514;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
#recepie-part .text-box h6{
    text-align: center;
}
#recepie-part .text-box button{
    border: none;
    outline: none;
    padding: 10px;
    color: #ffffff;
    background-color: #bf2222;
    text-align: center;
}



/* .ellipse img{
    position: absolute;
    top: 63%;
    left: 60%;
    z-index: 1;

} */

