@media(max-width:1090px){
   .text{width: 500px;}
   .img4{margin-top: 0;}
   .img4 h3,
   .img4 span{left: 20%;}
    .service{width: 100%;}
    .dental-service,
.form,
.find-dr {width: 100%;}
.form input{width: 390px;}
.box2 span{bottom: 23%;}
.box2 p{bottom: 0%;}
.img6 img{height: 50px;width: 50px;
}
.img6 span{
    top: 280%;
}
.price .pricing{font-size: 30px;}
.price ul li{padding: 7px;}
.box3 span{display: none;}
.date{background-color: transparent;color: transparent;}
.blog button{display: none;}
.subscribe input, .subscribe button{height: 50px;width: 100px;font-size: 10px;}

}
@media(max-width:865px){
    .text{width: 400px;}
    .about{width: 100%;}
    .text1 p { font-size: 1px;}
    .text1 h1{font-size: 20px;}
    .img4{margin-left: 100px;}
    .img4 h3,.img4 span{left: 50%;}
    .form input{width: 290px;}
    div .img5{background-size: contain;background-repeat: no-repeat;}
    .img6 img{display: none;}
    .img6 p{
    width: 120px;}
    .img6 span{display: none;}
    .img6 .name{margin-top: 180px;}
     .conclution{background-size: contain;background-repeat: no-repeat;}
     .conclution button{left: 70%;top: 60%;}
     .price ul li{padding: 1px;}
     .box3{width: 30%;}
     .blog .box3 h3{font-size: 20px;}
     .blog .box3 p{top: 77%;}
     .footer{flex-direction: column-reverse;margin-top: 0px;}
     .subscribe input{height: 50px;width: 100px;font-size: 10px;}


}
@media(max-width:500px){
    .text{width: 200px; top: 10%;
        left: 20%;font-size: 20px;}
        button{margin-top: 0px;}
        .img3 img{margin-left: 0;}
        .text1 p {display: none;}
        .img4{display: none;}
        .text1 h1{width: 80%;margin-top: 0;}
        .form input{width: 100px;}
        .box1{width: 100%;height: 55px;}
        .box2 p{display: none;}
        .box1 i,.box2 i,.box2 p,.img6 p,.price .box{display: none;}
        .img5 h1{font-size: 20px;}
        .dental-service{padding: 0px;}
        .box2{width: 100%;height: 80px;}
        .a,.b,.c,.d{background-size: contain;}
        .box2 span,.box2 h2{bottom: 20%;}
       .clients{height: 300px;}
       .conclution button{left: 70%;top: 80%;width: 20%;font-size: 10px;}
       .conclution h2{font-size: 25px;} 
       .conclution p{font-size: 20px;}
     .blog{ margin-top: 0px;height: 400px;}
     .footer{display: block;height: 800px;width: 100%;}
     .intro, .enquiry,.link, .service1, .hours, .subscribe{
        width: 100%;margin-top: 0px;
     }
     .intro p, .enquiry ul li, .link ul li, .service1 ul li, .recent-blog p,.hours p{
        font-size: 10px;}
        .recent-blog { width: 100%; margin-top: 0px; padding: 0px;}
             .blog-img8, .blog-img9{right: 10%;}
           
       
        

        
        




}