@media(max-width:500px){
    .mid-sec{
        height: auto;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .mid{
        display: inline;
    }
    a:hover{background: none;}
    .y,.z{
        font-size: 15px;
    }
   .para1{width: 100%;
         font-size: small;}
   button{width: 20%;}
   .para2{
    width: 100%;
    font-size: small;
   }
   .btn3{
      width: 50%;
   }
   .service{
     height: auto;
     width: 100%;
   }
   .para3{
    font-size: 10px;
   }
   .para4{
    font-size: small;
   }
   .client{
      height: auto;
   }
   .s{font-size: larger;  }
.para5{
    font-size: small;
}
img{
    transform: translate(220px, 0px);
}
h2{
    width: 100%;
    margin-left: 10px;
    text-align: center;
}
input{
    width: 100%;
}
   }
