
@media(max-width:1330px){
   .box{
    flex-wrap: nowrap;
   }
}
@media(max-width:1100px){
    .details button{
        top: 90%;       
    }
    .details{
       
        height: 750px;
    }

}

    
@media(max-width:1200px){
     .header{
        width: 100%;
        position: static;
        background: transparent;
        padding: 0 10px;
    }
    .services{
        height: 800px;
    }
    .box{
        gap: 2px;
        justify-content: space-evenly;
    }
    .box1{
      width: 40%; 
    }
    .project{
        height: 600px;
    }
    .fr-img{
        width: 100%;
 justify-content: space-evenly;    
    }
    .fr-img1 img{
        width: 200px;
        height: 250px;
   }
   .fr-img1::before{
    height: 250px;
    width: 200px;
    
}
.fr-img1 h3{
    font-size: 20px;
    left: 14%;
}
}
@media(max-width:1024px){
    .home h1{
        font-size: 26px;
    }
    .home h3{
        font-size: 18px;
    }
    .home .home-icon{
        top: 104%;
    }
    .details{
       
        height: 780px;
    }
    .details button{
        top: 93%;       
    }
   
    .box1 h2{
        padding: 0px;
    }
}
@media(max-width:992px){
    .header{
        width: 95%;
    }
    .home h1{
        font-size: 20px;
    }
    .home h3{
        font-size: 18px;
    }
    .home .home-icon{
        top: 90%;
    }
    .home .home-section, .home .home-img{
        flex-basis: 90%;
     }
     .home .btn{
        padding: 10px 0px;
        margin-left: -10px;
    }
    .home .btn a{
        padding: 10px 10px;
        border-radius: 10px;
        text-decoration: none;
    
    }
    .details{
       height: 780px; 
    }
    .details button{
        top: 90%;      
    }
    .box1 h2{
        padding: 0px;
        font-size: 20px;
    }
}
@media(max-width:900px){
    .home{
        padding: 10px 100px;
    }
    .home .home-section, .home .home-img{
        flex-basis: 40%;
     }
     .home p{
        font-size: 14px;
     }
    .home .btn a{
        font-size: 10px;
        padding: 10px 10px;
    }
    .home .home-icon{
       top: 100%; 
    }
    .home-icon i{
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 15px;
    }

}
@media(max-width:881px){
    .home{
        padding: 10px 100px;
    }
    .home .home-section, .home .home-img{
        flex-basis: 40%;
     }
     .home p{
        font-size: 14px;
     }
    .home .btn a{
        font-size: 10px;
        padding: 10px 10px;
    }
    .home .home-icon{
       top: 100%; 
    }
    .home-icon i{
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 15px;
    }
    .details{
       
        height: 790px;
    }
    .details button{
        top: 93%;       
    }
    .box1 h2{
        padding: 0px;
        font-size: 18px;
    }
    .box1 h4{
        color: black;
        padding: 15px;
    }
}
@media(max-width:768px){
    .home{
        padding: 10px 100px;
        display: block;
        padding-left: 100px;
    }

     .home p{
        font-size: 14px;
     }
    .home .btn a{
        font-size: 10px;
        padding: 10px 10px;
    }
    .home .home-icon{
       top: 54%; 
    }
    .home-icon i{
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-size: 15px;
    }
    .home-img{
        height: 400px;
        margin-left: 100px;
    }
    .home-img img{
        margin-top: 50px;
    }
    .navbar a{
    line-height: 40px;
    }  
    .fr-img{
        width: 100%;
 justify-content: center;    
    }
    .fr-img1 img{
        width: 300px;
        height: 250px;
   }
   .fr-img1::before{
    height: 250px;
    width: 200px;
}
.project{
    height: 800px;
}
.project button{
    top: 90%;
    left: 40%;
}
.services{
    padding: 30px;
    height: 500px;
}

}
@media(max-width:576px)

{
    .header{
        justify-content: center;
    }
    ul li{
        margin-top: 30px;
        display: block;
    }
    .navbar a{
        line-height: 10px;
        margin-left: -160px;
    }
    .home .home-icon{
        top: 91%; 
     }
     .home-img{
        margin-left: 50px;
    }
    .details{
        height: 1200px;
    }
    .details .info{
        grid-template-columns: 1fr;
    }
    .details button{
        left: 35%;
    }
    .services{
        flex-wrap: wrap;
    }
    .box1 h4{
        padding: 1px;
    }
    .project{
        height: 1250px;
    }
    .project h1{
        padding: 0%;
    }
    .fr-img{
        top: 8%;
    }
    .fr-img1::before{
        width: 300px;
    }
    .fr-img1 h3{
        left: 27%;
    }
    .project button{
        left: 35%;
        top: 94%;
    }

}
@media(max-width:500px){
    #responsive{
        display: block;
        margin-left: 70px;
        margin-top: 10px;
    }
    ul{
        display: none;
    }
    ul li{
        margin-left: 50px;   
    }
     #responsive i{
        font-size: 30px;
    }
    .home .home-icon{
        top: 59%; 
     }
     .home-img{
        margin-left: 0px;
    }
    .box1 h4{
        padding: 0px;
    }
    .details{
        height: 1150px;
        justify-content: center;
        align-items: center;
    }
   .personal-info h4{
        padding: 10px 8px;
        text-align: start;
        transition: .5s
    }
    .details button{
        top: 89%;
    }
    .details .info{
        width: 80%;
        left: 16%;
        grid-template-columns: repeat(1, 100fr);   
    }
    .services{
        height: 1000px;
    }
    .box1{
        padding-left: 10px;
        padding-right: 10px;
        height: 200px;
      width: 300px;
    }
    .box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .project{
        height: 1300px;
    }
    .project button{
        top: 92%;
    }
    .footer{
        height: 920px;
    }
    input {
        width: 300px;
        height: 50px;
    }
    textarea {
        width: 300px;
    }
}
@media(max-width:450px){
    .home .home-icon{
        top: 62%; 
     }
     .home-img{
        margin-left: -30px;
    }
    .details button{
        top: 95%;
    }
    .project button{
        top: 92%;
    }

}
@media(max-width:375px){
    .home .home-icon{
        display: none;
     }
     .home-img{
        margin-left: -63px;
    }
    .details{
        height: 1250px;
    }
    .details button{
        top: 95%;
        left: 28%;
    }
    .project button{
        top: 92%;
        left: 27%;
    }

}