@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
 /* body *{
    border: 2px solid red;
}  */
div.top{
    display: flex;
    flex-wrap: wrap;
    background: black;
    justify-content: space-evenly;
    padding: 9px;
}
.top-bar li{
    text-align: center;
    border-right: 1px solid rgb(61, 57, 57);
    /* border-bottom: 1px solid rgb(61, 57, 57); */
    display: inline;
     margin-left: 120px;
    padding: 9px;
    list-style: none;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.top-bar li i{
    color: #2fdab8;
    margin-right: 5px;
}
.top-bar li a{
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}
div.mid-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 30px;
    font-family: 'Lato', sans-serif;
}
.mid-bar form input[type="search"]{
    height: 50px;
    width: 340px;
    padding: 12px 10px;
    color: #848484;
    font-size: 20px;
    font-weight: 50;
}
.mid-bar form input[type="submit"]{
    border: none;
    background: url(../img/search.png);
    background-repeat: no-repeat;
    height: 52px;
    width: 50px;
    background-position: center;
    background-color: #2fdab8;

}
.mid-bar .logo h1{
    font-size: 50px;
    color: #000;
    font-weight: lighter;
    /* margin-right: 95px; */
}
.social-icon {
     display: flex;
     flex-wrap: wrap;
     font-size: 20px;
     padding-right: 20px;
}
.social-icon .box{
   margin-right: 60px;
   position: relative;
   margin-top: -10px;
   font-size: 20px;

}
.box .front, .box .back{
    position: absolute;
    transition: 1s;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.front {
    color: white;
}

.back {
    top: -25px;
    left: 0;
    transform: rotatex(90deg);
}
.box:hover .back {
    background: #ffffff;
    top: 0;
    transform: translateZ(150px);
}

.box:hover .front {
    bottom: -20px;
    transform: rotateX(100deg);
}
.fb {
    background-color: #1877F2;
}

.tw {
    background-color: #08a0e9;
}

.insta {
    background-color: orangered;
}

.link {
    background-color: #0072b1;
}
nav{
    padding: 40px;
    background: #000;
    display: flex;
    justify-content: space-around;
}
ul .menu{

    padding: 0;
    
}
.menu li{
    display: inline;
    font-size: 20px;
    margin: 30px;
    position: relative;
}
.menu li::before{
    position: absolute;
    content: "";
    background: #2fdab8;
    width: 0px;
    height: 0px;
   top: 240%;
   left: 0;
   transition: 0.8s;
}
.menu li:hover::before{
    width: 100%;
    height: 50px;
}


.cart{
    background: #2fdab8;
    padding-top: 48px;
    padding-bottom: 43px;
    padding-left: 80px;
    padding-right: 80px;
}
.cart i{
    color: #000;
    font-size: 25px;
}
.menu li a{
     text-decoration: none;
     color: #ffffff;
}

#right-section{
    background: #0D1326;
    height: 350px;
    width: 90px;
    color: #848484;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 0%;
    top: 10%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}
.doubleright i{
    font-size: 26px;
    padding: 25px;
    border-bottom: 1px solid #848484;
}
.mid-icon{
    margin-top: 30px;
    font-size: 26px;
    transition: 1s;
}
.mid-icon:hover{
    color: #ffffff;
}
#right-section p{
    font-size: 17px;
}
#banner img{
   position: relative;
}
.banner1{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner1 h1{
    font-size: 50px;
    font-weight: 50;
    letter-spacing: 10px;
    color: #ffffff;
}
.banner1 h1 span{
      color: #2fdab8;
}
.banner1 p{
      color: #ffb900;
      font-size: 30px;
      letter-spacing: 10px;
      font-weight: 100;
      text-align: center;
      margin-top: 10px;
}
.shop-btn {
  width: 150px;
  height: 40px;
  position: relative;
  margin-top: 40px;
  left: 40%;
  outline: 3px solid #2fdab8;
  border: 3px solid #2fdab8;
  background: #2fdab8;
 font-size: 18px;
 font-weight: 600;
 color: #ffffff;
 letter-spacing: 4px;
 transition: 0.2s linear;
 text-shadow: 2px 2px 0px #0D1326;

}
.shop-btn:hover{
    outline-offset: 6px;
}
.right{
    position: absolute;
    top: 20%;
    right: -50%;
    background: transparent;
    font-size: 100px;
    border: none;
    color: #0D1326;
    font-weight: bold;
}
.left{
    position: absolute;
    top: 20%;
    left: -50%;
    background: transparent;
    font-size: 100px;
    border: none;
    color: #0D1326;
    font-weight: bold;
}
#mid-section{
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 60px;
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.arrivals-1, .arrivals-2{
    height: 300px;
    width: 500px;
   transition: .5s; 
   padding: 50px;
   border: 5px solid black;
   outline-offset: 15px solid blue;
   
}
 .arrivals-1{
    background: url(../img/bottom1.jpg);
    background-repeat: no-repeat;
    background-position: -50px 0;
    background-size: cover;
 }
 .arrivals-2{
    background: url(../img/bottom2.jpg);
    background-repeat: no-repeat;
    background-position: -50px 0;
     background-size: cover; 
 }
 .arrivals-1:hover,  .arrivals-2:hover{
    background-position: 0px 0px;
 }
 
.text{
    color: #ffffff;
    height: 200px;
    border: 2px solid transparent;
    transition: 1s;
}
.arrivals-1:hover .text, .arrivals-2:hover .text{
    border:2px solid #ffffff;
}
.text h3{
    font-size: 30px;
    letter-spacing: 8px;
    margin-left: 120px;
    padding-top: 50px;
}
.text h4{
    font-size: 20px;
    letter-spacing: 10px;
    padding-top: 20px;
    margin-left: 140px;
    font-weight: lighter;
    opacity: 0;
    transition: 0.5s;
}
.arrivals-1:hover .text h4, .arrivals-2:hover .text h4{
   opacity: 1;
}
#first-section{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;
}
.right-part, .left-part{
    flex-basis: 50%;
}
.right-part{
    background: #2fdab8;
    position: relative;
}
.center-part{
    height: 70%;
    background: #ffffff;
    position: absolute;
    top: 20%;
    width: 90%;
    padding: 20px;
    padding-top: 40px;
}
.center-part h2{
      font-size: 25px;
      letter-spacing: 2px;
      word-spacing: 2px;
      padding-bottom: 10px;
}
.center-part p{
    font-size: 15px;
    padding-bottom: 15px;
    
}
.center-part-flex{
     display: flex;
     column-gap: 150px;
     text-align: center;
     padding-top: 30px;
}
.center-part-flex i{
    font-size: 30px;
    color: #2fdab8;
    padding-bottom: 10px;
}
.center-part-flex h4{
    font-weight: 400;
    padding-bottom: 10px;
}
.center-part-flex h2{
    font-size: 33px;
}
#second-section{
    padding: 50px 0;
}
#second-section h1{
    font-size: 50px;
    font-weight: 50;
    text-align: center;
}
.img-wrapper{
    display: grid;
    gap: 20px;
    width: 80%;
    margin: 50px auto;
    grid-template-columns: 40fr 50fr;
    grid-auto-rows: 280px;
}
.trending-img1{
    grid-row: 1/3;
    position: relative;
    background: url(../img/bb1.jpg) no-repeat;
    background-position: -50px 0;
    transition: .5s;
}
.trending-img1:hover{
    background-position: 0 0;
}

.trending-img1 .text1{
    height: 500px;
    width: 360px;
  position: absolute;
  top: 10%;
  right: 7%;
  border: 5px solid transparent;
  transition: 1s;
}
.trending-img1:hover .text1, .trending-img2:hover .text2, .trending-img3:hover .text2{
    border: 5px solid #ffffff;
}

.trending-img1 .text1 h3{
     font-size: 30px;
     color: #ffffff;
     letter-spacing: 15px;
     font-weight: lighter;
     padding-top: 15px;
     padding-bottom: 10px;
     margin-left: 220px;
}
.trending-img1 .text1 h4{
     font-size: 20px;
     color: #ffffff;
     letter-spacing: 10px;
     font-weight: lighter;
     /* padding: 20px 0; */
     margin-left: 170px;
     opacity: 0;
     transition: 1s;
     
}
.trending-img1:hover .text1 h4, .trending-img2:hover .text2 h4, .trending-img3:hover .text2 h4{
    opacity: 1;
}
.trending-img2{
    background: url(../img/bottom3.jpg) no-repeat;
    background-position: -30px 0;
    position: relative;
    transition: .5s;
}
.trending-img2:hover, .trending-img3:hover{
    background-position: 0 0;
}
.trending-img2 .text2, .trending-img3 .text2{
    position: absolute;
    top: 10%;
    right: 3%;
    border: 5px solid transparent;
    width: 550px;
    height: 230px;
    transition: 1s;
}
.trending-img2 .text2 h3, .trending-img3 .text2 h3{
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 15px;
    font-weight: lighter;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 400px;
}
.trending-img2 .text2 h4, .trending-img3 .text2 h4{
    font-size: 20px;
     color: #ffffff;
     letter-spacing: 10px;
     font-weight: lighter;
     /* padding: 20px 0; */
     margin-left: 350px;
      opacity: 0; 
     transition: 1s;
}
.trending-img3{
    background: url(../img/bottom4.jpg)  no-repeat;
    background-position: -50px 0;
    position: relative;
    transition: .5s;
}

#third-section{
    display: flex;
    flex-wrap: wrap;

} 
.third-section-box, .third-section-box2{
    flex-basis: 50%;
    height: 350px;
    position: relative;
    text-align: center;
    line-height: 370px;
    overflow: hidden;
}
.third-section-box{
    background: url(../img/bot_1.jpg);
}
.third-section-box2{
    background: url(../img/bot_2.jpg);
}
.third-section-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    right: -100%;
    opacity: 1;
    transition: 0.5s ease-in-out;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.third-section-box::after {
    content: '';
    position: absolute;
    bottom: -100%;
    left: -100%;
    transition: 0.5s ease-in-out;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    height: 100%;
}

.third-section-box:hover::before,
.third-section-box:hover::after {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    opacity: 1;
}
.third-img h1{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 10px;
    color: #2fdab8;
}
#clothing-section{
    text-align: center;
    height: 1000px;
}

#clothing-section h1{
   font-size: 50px;
   font-family: sans-serif;
   font-weight: 100;
   padding: 50px 20px;
   
}

.category-list{
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}
.category-list ul{
    margin: 0;
    padding: 0;
}
.category-list ul li{
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline;
    transition: 1s;
}
.category-list ul li:hover{
    background: #fc636b;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    left: 0%;
    gap: 20px;
    margin-top: 50px;
    position: relative;
    color: #0D1326;
}
.men-product{
    height: 350px;
    width: 250px;
    width: 20%;
    position: relative;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.new{
    position: absolute;
    right: 0;
    top: 0;
    background: #fc636b;
    color: #fff;
    opacity: 1;
}
.product-img{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 15%;

}
.view{
    position: absolute;
     background: rgba(0, 0, 0, 0.9);
     color: #ffffff;
     width: 100%;
     height: 50px;
     line-height: 50px;
     top: 0%;
     z-index: 1;
     opacity: 0;
     transition: 1s;

}
.view:hover{
    color: #ffffff;
    background: #2fdab8;
}
.men-product:hover .view{
    opacity: 1;
     top: 45%;
}
.product-img img{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 15%;
    padding: 20px;
    
}
.product-img .front
{
   
    position: absolute;
    top:0;
    left:0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: 1s;
}

.product-img .back
{
   
    position: absolute;
    top:0;
    left:0;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: 1s;}


    .men-product:hover .product-img .front 
    {
        transform: rotateY(0deg);
    }

    .men-product:hover .product-img .back 
    {
        transform: rotateY(180deg);
    }

.prd-info{
    position: absolute;
    top: 60%;
    text-align: center;
    left: 23%;
    font-size: 20px;
    font-weight: 700;
}
.prd-info p{
    padding-bottom: 15px;
}
.prd-info button{
    position: absolute;
    height: 30px;
    width: 200px;
    left: -19%;
    color: #ffffff;
    font-size: 15px;
    background: #2fdab8;
    border: none;
    outline: 3px solid #2fdab8;
    transition: 0.5s linear;

}
.prd-info button:hover{
    outline-offset: 6px;
}
#offer-section{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/banner3.jpg) no-repeat center/cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    padding: 99px 0;
}
#offer-section h1{
    font-size: 60px;
    letter-spacing: 3px;
    color: #ffffff;
    font-weight: bolder;
}
#offer-section button{
    width: 150px;
    height: 40px;
    position: absolute;
    margin-top: 40px;
    left: 45%;
    border: none;
    outline: 3px solid #2fdab8;
    background: #2fdab8;
   font-size: 18px;
   font-weight: 600;
   color: #ffffff;
   letter-spacing: 4px;
   transition: 0.2s linear;
   text-shadow: 2px 2px 0px #0D1326; 
}
#offer-section button:hover{
    outline-offset: 6px;
}
#service-section{
    padding: 40px 20px;
    height: 150px;
    background: #ffffff;
    margin-left: 20px;
}
.service-icon{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.our-services i{
      height: 80px;
      width: 80px;
      text-align: center;
      line-height: 80px;
      background: #000000;
      color: #ffffff;
      font-size: 25px;
      position: relative;
      z-index: 1;
}
.our-services i::after{
    content: "";
    position: absolute;
    background: #2fdab8;
    height: 80px;
    width: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: scale(0);
    transition: .3s;
}
.our-services i:hover::after{
    transform: scale(1);
}

.our-services .text{
    font-size: 17px;
    color: #2fdab8;
    font-weight: 600;
    letter-spacing: 1px;
}
footer{
    background: #000000;
    height: 400px;
    cursor: pointer;
}
.footer-part{
    display: flex;
    justify-content: space-between;
    padding: 30px;

}
footer .box1 i{
    color: #fff; 
    padding-top: 10px;
    margin-left: 10px; 
    font-size: 20px;
    transition: 0.5s; 
}
footer .box1 i:hover{
    color: #2fdab8;
}
footer h1{
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 20px;
}
footer p{
    color: #ffffff;
}
footer ul li{
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 600;
    list-style: none;
    color: #ffffff;
    transition: 1s;
}
footer ul li:hover{
    color: #2fdab8;
}
footer .contact i{
    padding: 10px;
}
footer .contact span{
    margin-left: 10px;
}
footer .contact{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
footer .contact1{
   background: rgba(73, 67, 67, 0.9);
   color: #ffffff;
   padding: 10px;
}
footer .post{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    row-gap: 8px;      
}
footer .post img{
    height: 70px;
    width: 70px;
    object-fit: contain;
}






















